.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_contents {
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav_menu {
    align-items: center;
    font-size: 15px;
    padding-left: 120px;
    display: flex;
    list-style-type: none;
}

@media (max-width: 550px) {
    .nav_menu {
        display: none;
    }
}

li {
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

li:hover {
    opacity: 0.8;
}

li.nav_menu_selected {
    font-weight: 700;
}

.nav_black {
    background-color: #111;
}

.nav_logo {
    position: fixed;
    left: 0;
    width: 92.5px;
    height: 25px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav_avatar {
    position: fixed;
    right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}
